
{% extends 'users/base.html' %}
{% block body %}
<h1 class="text-4xl m-10">👩🏻‍⚖️ Edit Your Profile</h1>

<!-- <div class="container py-5 mx-5"> -->
    <form method="POST" class="bg-white shadow-md m-10 w-4/5 rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">First Name </label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ user_form.first_name }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Last Name </label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ user_form.last_name }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Email </label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ user_form.email }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Photos </label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ profile_form.photo }}</div>
        </div>
    <!-- {{user_form.as_p}}
    {{profile_form.as_p}} -->
    <button class="text-white bg-green-500 px-5 py-2 rounded my-4" type="submit">Submit</button>
</form>

{% endblock %}