{% extends 'users/base.html' %}
{% block body %}
<h1 class="text-4xl m-10">🔑 Change Password</h1>

<!-- <div class="container py-5 mx-5"> -->
    <div class="error-container text-red-500 px-10">
        {% if form.errors %}
            {% for field in form %}
                {{ field.errors}}
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" class="bg-white shadow-md m-10 w-4/5 rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Old Password</label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ form.old_password }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">New Password </label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ form.new_password1 }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">New Password Confirmation</label>
            <div class="shadown appearance-none border rounded py-2 px-3 mr-10">{{ form.new_password2 }}</div>
        </div>
        <button class="text-white bg-green-500 px-5 py-2 rounded my-4" type="submit">Submit</button>
    </form>
{% endblock %}