{% extends 'users/base.html' %}
{% load hitcount_tags %}
{% load mathfilters%}
{% block body %}
<div class="flex mt-5 p-10 justify-center">
    <h1 class="text-3xl font-normal mb-2 text-gray-500">My Posts</h1>
</div>
<!-- <div class="grid mx-60 p-10 grid-cols-1 justify-center"> -->
  <div>
    {% for post in posts %}
        
    <div class="rounded overflow-hidden w-[470px] h-[470px] bg-gray-200 shadow-lg p-10 m-10">
      <div class="user-container flex mx-5 my-2 items-center">
        <a href="/posts/view?user={{ post.user.id }}" id="user-posts-link">
          <img class="h-20 w-20 rounded-full" src="{{post.user.profile.photo.url}}" alt="">
          <div class="mx-2 my-2 font-bold"><span class="text-indigo-500">{{post.user}}</span></div>
        </a> 
        {% for category in post.categories.all %}
            <div class="font-bold text-3xl mx-5 my-2">
              <h2><a href="{% url 'category_detail' slug=category.slug %}">{{ category.title }}: </a></h2>
            </div>
          {% endfor %}
        <div class="font-bold text-3xl mx-2 my-2"><a href="{% url 'detail' post.slug %}">-- {{post.title}} --</a></div>
        
      </div>
      <hr>
      <div class="mx-2 my-2 postBody">{{post.body|slice:":200"}}</div>
      {% if post.body|length > 200 %}
        <a class="more-button">continue reading..</a>
        <div class="post-rest" style="display: none;">{{ post.body|slice:"200:" }}</div>
      {% endif %}
      {% if post.images %}
        {% for image in post.images.all%} 
      <div class="justify-center" style="justify-content: center;">
          <img class="h-70 px-20" src="{{ image.images.url }}" alt="" style="height: 50%;">
          <div id="{{post.id}}"></div>
          <div class="mx-2 my-2">{{image.caption|slice:":200"}}</div>
          {% if image.caption|length > 200 %}
          <a class="more-button">continue reading..</a>
        <div class="post-rest" style="display: none;">{{ image.caption|slice:"200:" }}</div>
      {% endif %}
        </div>
        {% endfor %}
      {% endif %}
      <div id="{{post.id}}"></div>
      {% with tags=post.tags.exists %}
        {% if tags %}
            {% for tag in post.tags.all %}
                <p>Tags: {{ tag }}</p>
            {% endfor %}
        {% else %}
            <p>Tags: No tags</p>
        {% endif %}
      {% endwith %}
      <a><div class="py-2" data-toggle="modal" data-target="#myModal-{{post.id}}">
        {% if request.user in post.liked_by.all %}
            {% if post.liked_by.count < 1 %}
            {% elif post.liked_by.count == 1 %}
            You like this
            {% elif post.liked_by.count > 1 %}
            You & {{ post.liked_by.count|sub:1 }} Like this
            
            {% endif %}
        {% else %}
            {% if post.liked_by.count < 1 %}
            {% elif post.liked_by.count == 1 %}
            {{ post.liked_by.first }} Likes this
            {% elif post.liked_by.count > 1 %}
            {{ post.liked_by.first }} & {{ post.liked_by.count|sub:1 }} like this
            {% endif %}
        {% endif %}
      </div></a>
      <div class="px-6">
          
          <hr>
          <!-- <div>
              <p>Likes: {{ post.liked_by.all|length }}</p>
              
          </div> -->
        <div class="icon-container flex gap-3 py-1">
              {% if request.user in post.liked_by.all %}
              <a href="{% url 'like' id=post.id %}#{{ post.id }}" class="button-like"><i class="fa-solid fa-heart" style="color: red;"></i></a>
              <!-- <a onclick="window.location.href='{% url 'like' id=post.id %}'" class="button-like"><i class="fa-solid fa-heart" style="color: red;"></i></a> -->
              {% else %}
              <a href="{% url 'like' id=post.id %}#{{ post.id }}" class="button-like" ><i class="fa-regular fa-heart"></i></a>
              <!-- <a onclick="window.location.href='{% url 'like' id=post.id %}'" class="button-like"><i class="fa-regular fa-heart"></i></a> -->
              {% endif %}
              <a href="#{{ post.id }}" onclick="toggleCommentForm('comment-form-{{post.id}}')">
                <i class="fa-regular fa-message"></i>
              </a>
              <a>
                  <i class="fa-solid fa-share"></i>
              </a>
          </div>
          <hr>
          <!-- Modal -->
          <div class="modal fade" id="myModal-{{post.id}}" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable">

              <div class="modal-content">
                <div class="modal-header bg-primary">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Post liked by: </h4>
                </div>
                <div class="modal-body">
                  {% for name in post.liked_by.all%}
                    <p>{{name}}</p>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="nothing">
              {% for name in post.liked_by.all%}
              <p>{{name}}</p>
            {% endfor %}
          </div> -->

          <!-- Scrollable modal -->



            </div>
            <div class="px-5 py-5">
            {% for comment in post.comments.all %}
            <p><b>{{comment.posted_by}}</b>: {{ comment.body }} </p>
            {% for reply in comment.replies.all %}
              <div class="pl-10 py-5 reply">
                  {{ reply.body }} - {{ reply.posted_by }}
              </div>
          {% endfor %}
            <div class="px-5 py-5" id="reply-form-{{comment.id}}">
              <form method="post" class="bg-white shadow-md m-10 w-4/5 rounded px-8 pt-6 pb-8 mb-4" action="{% url 'add_feed_reply' comment.id %}">
                {% csrf_token %}
                
                <div class="m-2">
                    <label class="block text-grey-700 text-sm font-bold mb-2">Add Reply</label>
                </div>
                <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
                    <!-- {{reply_form.body}} -->
                    <textarea name="body" style="width: 100%; max-width: 100%;" required id="reply"></textarea>
                </div>
                <div>
                    <!-- <input type="hidden" name="comment_id" id="comment_id" value="{{ comment.id }}"> -->
                    <input type="hidden" name="posted_by" id="posted_by" value="{{ logged_user }}">
                </div>
                <button class="bg-green-500 text-white px-5 py-2" type="submit" id="reply-button" onclick="location.href='#reply-form-{{ comment.id }}'">Add</button>
            </form>
          </div>
  
          
            {% endfor %}
            </div>
            <div class="px-5 py-5" id="comment-form-{{post.id}}" style="display: none;">
              <form method="post" class="bg-white shadow-md m-10 w-4/5 rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                
                  <div class="m-2">
                    <label class="block text-grey-700 text-sm font-bold mb-2">Add Comment</label>
                  </div>
                  <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-700">
                    <!-- {{comment_form.body}} -->
                    <textarea name="body" style="width: 100%; max-width: 100%;" required id="id_body"></textarea>
                  </div>
                  <div>
                    <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
                    <input type="hidden" name="posted_by" id="posted_by" value="{{ logged_user }}">
                  </div>
                    <button class="bg-green-500 text-white px-5 py-2" type="submit" id="comment-button">Add</button>
                
              </form>
            </div>
  </div>

  </div>
</div>

{% endfor %}
</div>

{% endblock %}