{% extends 'users/base.html' %}
{% load mathfilters%}
{% block body %}

{% for post in posts %}
<div class="rounded overflow-hidden w-[470px] h-[470px] bg-gray-200 shadow-lg p-10 m-10">
    <div class="user-container flex mx-5 my-2">
        <img class="h-10 w-10 rounded-full" src="{{post.user.profile.photo.url}}" alt="">
        <div class="mx-2 my-2 font-bold"><span class="text-indigo-500">{{post.user}}</span></div>
        {% for category in post.categories.all %}
        <a href="{% url 'category_detail' slug=category.slug %}">{{ category.title }}</a>
          {% endfor %}
        <div class="font-bold text-3xl mx-2 my-2"><a href="{% url 'detail' post.id %}">-- {{post.title}} --</a></div>
        <div class="mx-2 my-2 postBody">{{post.body|slice:":200"}}</div>
      {% if post.body|length > 20 %}
        <a href="{% url 'detail' post.id %}">continue reading..</a>
        {% endif %}
    </div>

</div>
    {% endfor %}
    {% endblock %}